@page
@model UrbanFarmCOWeb.Pages.Fornecedor.DeleteModel

@{
    ViewData["Title"] = "Excluir Fornecedor";
    Layout = "_Layout";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4 text-danger">Excluir Fornecedor</h2>
            <h4 class="text-center">Você tem certeza que deseja excluir este fornecedor?</h4>
            <hr />
            <dl class="row mt-4">
                <dt class="col-sm-3 fw-bold">Nome do Fornecedor:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fornecedor.Nome)</dd>

                <dt class="col-sm-3 fw-bold">CNPJ:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fornecedor.CNPJ)</dd>

                <dt class="col-sm-3 fw-bold">Endereço:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fornecedor.Endereco)</dd>

                <dt class="col-sm-3 fw-bold">Telefone:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fornecedor.Telefone)</dd>

                <dt class="col-sm-3 fw-bold">E-mail:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Fornecedor.Email)</dd>
            </dl>

            <div class="d-flex justify-content-center mt-4">
                <form method="post">
                    <input type="hidden" asp-for="Fornecedor.FornecedorID" />
                    <button type="submit" class="btn btn-danger me-3">Excluir</button>
                    <a asp-page="./Index" class="btn btn-secondary">Voltar à Lista</a>
                </form>
            </div>
        </div>
    </div>
</div>
