@page
@model UrbanFarmCOWeb.Pages.Fornecedor.IndexModel

@{
    ViewData["Title"] = "Lista de Fornecedores";
    Layout = "_Layout";
}

<h1>Fornecedores</h1>

<p>
    <a asp-page="Create">Adicionar Novo Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores[0].CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores[0].Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores[0].Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedores[0].Email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Fornecedores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
               
                <td>
                    <a asp-page="./Edit" asp-rou    te-id="@item.FornecedorID">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.FornecedorID">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.FornecedorID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
    <div class="form-group">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Page("/Dashboard/Dashboard")'">Voltar para Dashbboard</button>
    </div>
</table>
