@page
@model UrbanFarmCOWeb.Pages.Funcionarios.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Funcionário";
    Layout = "_Layout";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">Detalhes do Funcionário</h2>
            <dl class="row">
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.Nome)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.Nome)
                </dd>

                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.CPF)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.CPF)
                </dd>

                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.DataNascimento)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.DataNascimento)
                </dd>

                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.Email)
                </dd>

                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.Funcao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.Funcao)
                </dd>

                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.SenhaHash)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.SenhaHash)
                </dd>

                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Funcionario.DataCadastro)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Funcionario.DataCadastro)
                </dd>
            </dl>
            <div class="d-flex justify-content-between mt-4">
                <a asp-page="./Edit" asp-route-id="@Model.Funcionario.FuncionarioID" class="btn btn-primary">Editar</a>
                <a asp-page="./Index" class="btn btn-secondary">Voltar à Lista</a>
            </div>
        </div>
    </div>
</div>
