@page
@model UrbanFarmCOWeb.Pages.Produtos.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Produto";
    Layout = "_Layout";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center my-4">Detalhes do Produto</h2>
            <dl class="row mt-4">
                <dt class="col-sm-4">Nome do Produto</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produto.NomeProduto)</dd>

                <dt class="col-sm-4">Categoria</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produto.Categoria)</dd>

                <dt class="col-sm-4">Preço</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produto.Preco)</dd>

                <dt class="col-sm-4">Quantidade</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produto.Quantidade)</dd>

                <dt class="col-sm-4">Fornecedor ID</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produto.FornecedorID)</dd>

                <dt class="col-sm-4">Data de Cadastro</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produto.DataCadastro)</dd>
            </dl>

            <div class="text-center mt-4">
                <a asp-page="./Edit" asp-route-id="@Model.Produto.ProdutoID" class="btn btn-primary me-2">Editar</a>
                <a asp-page="./Index" class="btn btn-secondary">Voltar para Lista</a>
            </div>
        </div>
    </div>
</div>
